.todos {
    margin-top: 3em;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .item {
        position: relative;
        margin-top: 1.3em;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 15px;
        background: white;
        border: 1px solid transparent;
        border-radius: 5px;
        box-shadow: 0 2px 10px 1px rgba($color: black, $alpha: .05);
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        transition: .2s;

        &-label {
            position: relative;
            transform: translateY(50%);
            display: flex;
            height: 20px;
            width: 20px;

            .item-input {
                margin: 0;
                z-index: 0;
                height: 18px;
                width: 18px;
                width: auto !important;
                opacity: 0;    

                &:checked ~ .item-span:before {                    
                    content: '';
                }
            }

            .item-span {
                position: absolute;
                top: 0;
                left: 0;
                width: 18px;
                height: 18px;
                box-sizing: border-box;
                border-radius: 5px;
                border: 2px solid #6a00f4;
                display: flex;
                justify-content: center;
                align-items: center;

                &:before {
                    position: absolute;
                    border-radius: 5px;
                    width: 6px;
                    height: 6px;
                    background: #6a00f4;
                }
            }
        }

        &-text {
            padding: 0;
            margin: 0;
            margin-left: 20px;
            padding-top: 7px;
            width: calc(100% - 90px);
        }

        &:hover {
            z-index: 999;
            border: 1px solid #ccc;
            box-shadow: 0 5px 15px 7px rgba($color: black, $alpha: .07);
        }

        .btn {
            height: 40px;
            width: 40px;
            background: transparent;
            border: none;
            outline: none;
            padding: 5px;
            cursor: pointer;

            svg {
                height: 100%;
                width: 100%;
                fill: transparent;
                transition: .4s;

                path {
                    stroke: rgb(156, 156, 156) !important;
                }
            }

            &--edit:hover {
                svg {
                    fill: rgb(255, 196, 0);

                    path {
                        stroke: black !important;
                    }
                }
            }

            &--delete:hover {
                svg {
                    fill: rgb(255, 104, 104);

                    path {
                        stroke: black !important;
                    }
                }
            }

            &:first-of-type {
                margin-left: auto;
                margin-right: 10px;
            }
        }
    }

    &--unsolved, &--resolved {
        width: 100%;
    }

    &--resolved {
        .item {
            &-text {
                color: #9c9c9c;
                text-decoration: line-through;
            }
        }
    }

    &--empty{
        margin-top: 3em;
        max-width: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;

        svg {
            fill: rgb(182, 182, 182);
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        span {
            margin-top: 1em;
            font-size: 1.3em;
            color: rgb(155, 155, 155);
        }
    }
}

hr {
    margin-top: 1.3em;
    border: none;
    border-bottom: 1px solid rgba($color: #cccccc, $alpha: .4);
    height: 0;
    width: 100%;
}